body {
  margin: 0;
  padding: 0; }

div {
  background-color: #000;
  color: #fff; }

main {
  padding: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.header {
  min-height: 100px;
  background-color: #ccc;
  opacity: 0.5; }
  .header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  .header--absolute {
    position: absolute;
    width: 100%; }

.main-block {
  min-height: 1500px;
  margin: 50px 50px;
  max-width: 600px;
  width: 600px;
  background-color: #2ecc71; }

.footer {
  height: 1500px;
  background-color: #3498db; }
